@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;700&display=swap');

body {
    min-height: 100vh;
	margin: 0;
    background-color: hsl(212, 45%, 89%);
    display: grid;
    place-content: center;

}

main {
    background-color: hsl(0, 0%, 100%);
    padding: 16px;
    border-radius: 22px;
    display: inline-block;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.07);
}

main img {
    width: 300px; 
    height: 300px; 
    border-radius: 8px;
}

section {
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    width: 250px;
    margin: 16px 0;
    font-size: 22px;
}

p {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    width: 250px;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 22px;
}